*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(0, 0%, 100%)
    font-size: 15px;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    padding: 40px 24px;
     }
.top{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:60px;
    flex-wrap: wrap;
}

.all{
    max-width:1100px;
    margin: auto;
}
.left{
    flex:1;
}
.left h1{
    font-size:40px;
    color: hsl(300, 43%, 22%) ;
    margin-bottom: 20px;
}
.left p{
    color:hsl(303,  10%, 53%);
    line-height: 1.5;
    font-size: 14px;
}
.right{
    flex:1;
    display:flex;
    flex-direction: column;
    gap:15px;
}
.items{
    display: flex;
    align-items: center;
    gap:15px;
    background:   hsl(300, 24%, 96%);
    padding:12px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
}
.paragraph{
    font-size: 15px;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
}
.verified{
    font-size: 15px;
    color: hsl(303,  10%, 53%);
}
.person img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.person{
    display:flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.card{
    background-color:  hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    padding:25px;
    border-radius: 10px;
    flex:1;
}
.under{
    display:flex;
    gap:20px;
    align-items: flex-start;
    flex-wrap: wrap;

}
.container{
    margin-top: 50px;
}
.stars{
    display:flex;
    gap:5px;
}
